# Linux kernel iptables IPv{{ item.version }} packet filter configuration.
# {{ ansible_managed }}
{% if item.ip_tables is defined %}
{% for table_name, chains in item.ip_tables.items() %}
*{{ table_name }}
{% for chain_name, chain in chains.items() %}
:{{ chain_name }} {{ chain.policy | default('ACCEPT') }}{% if chain.counters is defined %} [{{ chain.counters.packets | default(0) }}:{{ chain.counters.bytes | default(0) }}]{% endif %}{{''}}
{% endfor %}
{% for chain_name, chain in chains.items() %}
{% if chain.rules is defined %}
{% for rule in chain.rules %}
-A {{ chain_name -}}
{% if rule.in_interface is defined %}
 --in-interface {{ rule.in_interface -}}
{% endif %}
{% if rule.out_interface is defined %}
 --out-interface {{ rule.out_interface -}}
{% endif %}
{% if rule.protocol is defined %}
 --protocol {{ rule.protocol }} -m {{ rule.protocol -}}
{% endif %}
{% if rule.source_addresses is defined %}
{% for address in rule.source_addresses %}
{% if address.not is defined and address.not %}! {% endif %}-s {{ address.ip }}{% if address.mask is defined %}/{{ address.mask }}{% endif %}
{% endfor %}
{% endif %}
{% if rule.source_port is defined %}
 --source-port {{ rule.source_port -}}
{% endif %}
{% if rule.destination_port is defined %}
 --destination-port {{ rule.destination_port -}}
{% endif %}
{% if rule.module is defined %}
 --match {{ rule.module -}}
{% if rule.module_options is defined %}
{% for option in rule.module_options %}
 {{ option -}}
{% endfor %}
{% endif %}
{% endif %}
{% if rule.target is defined %}
 --jump {{ rule.target }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
COMMIT
{% endfor %}
{% endif %}
